<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404-Admin</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/404_admin.css' %}" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div>
				<div class="notfound-404">
					<h1>!</h1>
				</div>
				<h2>Error<br>403</h2>
			</div>
			<p>The page you are looking for is not accessible by You. This is privilege is ment for the Admins only <a href="/">Back to homepage</a></p>
		</div>
	</div>

</body>

</html>
